<form class="large-2 flex gap8" action="{{path('app_affectation_index')}}" method="POST">
    <p class="large-12 txt-center"><b>Recherche</b></p>
    <div class="large-12">
        <input class="large-12" type="text" name="nom" id="nom">
    </div>
    <div class="large-12 mt8">
        <p class="large-12 txt-center mb8"><b>Filtres :</b><p>
        <label>Poste <select class="large-12" name="poste" id="poste">
            <option value=""></option>
            {% for fonction in fonctions %}
            <option value="{{ fonction.id }}">{{ fonction.poste }}</option>
            {% endfor %}
        </select></label>
        </div>
        <div class="large-12">
        <label>Restaurant <select class="large-12" name="restaurant" id="restaurant">
            <option value=""></option>
            {% for restaurant in restaurants %}
            <option value="{{ restaurant.id }}">{{ restaurant.nom }}</option>
            {% endfor %}
        </select></label>
    </div>
    <div class="large-12">
        <label> Date de début <input class="large-12" type="date" name="date_debut" id="date_debut"></label>
    </div>
    <div class="large-12">
        <label> Date de fin <input class="large-12" type="date" name="date_fin" id="date_fin"></label>
    </div>
    <div class="large-12 flex j-center mt16">
        <input class="back-button pad-button round8 b-none" type="submit" value="Search">
    </div>
</form>